Assignment 1/Engines Assignment 1/Library/ShaderCache/
Assignment 1/Engines Assignment 1/Library/PackageCache/
Assignment 1/Engines Assignment 1/Library/metadata/
Assignment 1/Engines Assignment 1/Temp/
Assignment 1/Engines Assignment 1/.vs/Engines Assignment 1/v15/Server/sqlite3/storage.ide-shm
Assignment 1/Engines Assignment 1/.vs/Engines Assignment 1/v15/Server/sqlite3/storage.ide-wal
